body{
    font-family: 'DM Sans', sans-serif;;
}
.navbar{
    background-image: url(../img/bg-dk-blue-brick-wall.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: none;
    font-size: 50px;
    color: white;
}

footer
{
    position: relative;
    bottom: 0;
    margin-top:50px;
    width:100%;
    height:100px;
    background-image: url(../img/bg-dk-blue-brick-wall.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ir-arriba {
	display: block;
    height: 90px;
    width: 90px;
    background-size: cover;
	background-image: url(../img/subir.png);
	cursor:pointer;
	position: fixed;
	bottom:20px;
    right:20px;
    z-index: 5;
}
.bg-fondo{
    background-color: black;
}
.bg-foto{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpeg);
    height: 800px;
}